body{
  text-align: center;
}
.dropbtn {
    background-color: gray;
    border-radius: 15%;
    color: black;
    padding: 14px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropbtn:hover {
    background-color: yellow;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
     background-color: rgb(240, 21, 21);
   }
  
  .show {
    display: block;
  }